body {
    background-image: url("../img/background.jpg");
    text-align: left;
    color: red;
}
ul {
    list-style-type: none;
}

li {
    float: center;
}

li a{
	font-size: 50px;
	color: #ff7272;
	padding:50px;
}

h1{
	font-size: 70px;
}

h2{
	font-size: 50px;
}
