body {
    background-image: url("../img/background.jpg");
    text-align: center;
    color: blue;
}
ul {
    list-style-type: none;
}

li {
    float: left;
}

li a{
	font-size: 50px;
	color: #ff7272;
	padding:20px;
}

h1{
	font-size: 70px;
}

h2{
	font-size: 50px;
}
