body {
    background-image: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg");
    color: white;
    /*text-align: center;*/
}
ul {
    list-style-type: none;
}

li {
    float: left;
}

li a{
	font-size: 50px;
	color: #ff7272;
}

h1{
	font-size: 70px;
}

h2{
	font-size: 50px;
}
