body {
    background-image: url("../img/background.jpg");
    text-align: center;
    color: White;
}
ul {
    list-style-type: none;
}

li {
    float: left;
}

li a{
	font-size: 92px;
	color: #ff2242;
	padding:92px;
}

h1{
	font-size: 110px;
}

h2{
	font-size: 92px;
}
