body {
    background-image: url("../img/background.jpg");
    text-align: center;
    color: Dark blue;
}
ul {
    list-style-type: none;
}

li {
    float: left;
}

li a{
	font-size: 100px;
	color: #ff8888;
	padding:100px;
}

h1{
	font-size: 150px;
}

h2{
	font-size: 100px;
}
